meta(charset='utf-8')
meta(http-equiv='x-ua-compatible' content='ie=edge')

title= title
meta(name='description', content='#{ description }')
meta(name='author', content='#{ name }')
meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')

link(rel='apple-touch-icon' href='favicon.png')
link(rel="stylesheet" href="/main.css")

meta(property='og:site_name', content='#{ title }')
meta(property='og:type', content='website')
meta(property='og:title', content='#{ title }')
meta(property='og:description', content='#{ description }')
meta(property='og:url', content='https://deletist.xyz/')
meta(property='og:image', content='https://deletist.xyz/embed-card.png')

meta(name='twitter:card', content='summary_large_image')
meta(name='twitter:site', content='@#{ twitter }')
meta(name='twitter:title', content='#{ title }')
meta(name='twitter:description', content='#{ description }')
meta(name='twitter:url', content='https://deletist.xyz/')
meta(name='twitter:image', content='https://deletist.xyz/embed-card.png')
