- var i_facebook = 1;
- var i_google = 1;
- var i_linkedin = 1;
- var i_twitter = 1;
- var i_producthunt = 1;
- var i_snapchat = 1;
- var i_instagram = 1;
- var i_medium = 1;
- var i_whatsapp = 1;
- var i_reddit = 1;

each val in public.data._contents
  if val.includes("facebook")
     - i_facebook++;
  if val.includes("google")
    - i_google++;
  if val.includes("linkedin")
     - i_linkedin++;
  if val.includes("twitter")
    - i_twitter++;
  if val.includes("producthunt")
     - i_producthunt++;
  if val.includes("snapchat")
    - i_snapchat++;
  if val.includes("instagram")
    - i_instagram++;
  if val.includes("medium")
    - i_medium++;
  if val.includes("whatsapp")
    - i_whatsapp++;
  if val.includes("reddit")
    - i_reddit++;
    
h1 Delete Data
p The number of accounts deleted as declared by visitors to Deletist.xyz since 1 June 2018.

div#buttons_delete
    
  form(action='https://api.staticman.net/v2/entry/charlesrt/be-a-deletist/master/data', method='post', name='')
    input(type='hidden', name='options[path]', value='#{current.path}')
    input(type='hidden', name='options[redirect]', value='https://deletist.xyz/data/')
    button.facebook(type='submit', value='facebook', name='fields[account]')
      span.icon.icon--facebook
        include /icons/facebook.svg
      | Delete
      span.count #{i_facebook}
      
  form(action='https://api.staticman.net/v2/entry/charlesrt/be-a-deletist/master/data', method='post', name='')
    input(type='hidden', name='options[path]', value='#{current.path}')
    input(type='hidden', name='options[redirect]', value='https://deletist.xyz/data/')
    button.google(type='submit', value='google', name='fields[account]')
      span.icon.icon--google
        include /icons/google.svg
      | Delete
      span.count #{i_google}

  form(action='https://api.staticman.net/v2/entry/charlesrt/be-a-deletist/master/data', method='post', name='')
    input(type='hidden', name='options[path]', value='#{current.path}')
    input(type='hidden', name='options[redirect]', value='https://deletist.xyz/data/')
    button.linkedin(type='submit', value='linkedin', name='fields[account]')
      span.icon.icon--linkedin
        include /icons/linkedin.svg
      | Delete
      span.count #{i_linkedin}

  form(action='https://api.staticman.net/v2/entry/charlesrt/be-a-deletist/master/data', method='post', name='')
    input(type='hidden', name='options[path]', value='#{current.path}')
    input(type='hidden', name='options[redirect]', value='https://deletist.xyz/data/')
    button.twitter(type='submit', value='twitter', name='fields[account]')
      span.icon.icon--twitter
        include /icons/twitter.svg
      | Delete
      span.count #{i_twitter}

  form(action='https://api.staticman.net/v2/entry/charlesrt/be-a-deletist/master/data', method='post', name='')
    input(type='hidden', name='options[path]', value='#{current.path}')
    input(type='hidden', name='options[redirect]', value='https://deletist.xyz/data/')
    button.producthunt(type='submit', value='producthunt', name='fields[account]')
      span.icon.icon--producthunt
        include /icons/producthunt.svg
      | Delete
      span.count #{i_producthunt}

  form(action='https://api.staticman.net/v2/entry/charlesrt/be-a-deletist/master/data', method='post', name='')
    input(type='hidden', name='options[path]', value='#{current.path}')
    input(type='hidden', name='options[redirect]', value='https://deletist.xyz/data/')
    button.snapchat(type='submit', value='snapchat', name='fields[account]')
      span.icon.icon--snapchat
        include /icons/snapchat.svg
      | Delete
      span.count #{i_snapchat}

  form(action='https://api.staticman.net/v2/entry/charlesrt/be-a-deletist/master/data', method='post', name='')
    input(type='hidden', name='options[path]', value='#{current.path}')
    input(type='hidden', name='options[redirect]', value='https://deletist.xyz/data/')
    button.instagram(type='submit', value='instagram', name='fields[account]')
      span.icon.icon--instagram
        include /icons/instagram.svg
      | Delete
      span.count #{i_instagram}

  //- form(action='https://api.staticman.net/v2/entry/charlesrt/be-a-deletist/master/data', method='post', name='')
  //-   input(type='hidden', name='options[path]', value='#{current.path}')
  //-   button.medium(type='submit', value='medium', name='fields[account]')
  //-     span.icon.icon--medium
  //-       include /icons/medium.svg
  //-     | Delete
  //-     span.count #{i_medium}

  form(action='https://api.staticman.net/v2/entry/charlesrt/be-a-deletist/master/data', method='post', name='')
    input(type='hidden', name='options[path]', value='#{current.path}')
    input(type='hidden', name='options[redirect]', value='https://deletist.xyz/data/')
    button.whatsapp(type='submit', value='whatsapp', name='fields[account]')
      span.icon.icon--whatsapp
        include /icons/whatsapp.svg
      | Delete
      span.count #{i_whatsapp}

  form(action='https://api.staticman.net/v2/entry/charlesrt/be-a-deletist/master/data', method='post', name='')
    input(type='hidden', name='options[path]', value='#{current.path}')
    input(type='hidden', name='options[redirect]', value='https://deletist.xyz/data/')
    button.reddit(type='submit', value='reddit', name='fields[account]')
      span.icon.icon--reddit
        include /icons/reddit.svg
      | Delete
      span.count #{i_reddit}
